body{
    background-color: rgb(255, 255, 255);
    background-image: url("https://images.unsplash.com/photo-1689952255530-c08bd24c578a?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100%;

}
.upper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    position: absolute;
    top:20px;
    border: 10px groove rgba(28,38,51,255);
    width: 500px;
    height: auto;
    padding: 20px;
    font-size: 20px;
    color: rgb(7, 15, 48);
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    /* margin-left: 31%; */
    backdrop-filter: blur(15px);

}

#mainalert {
    display: none;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#mainalert p {
    margin: 0;
    padding-left: 10px;
}

#close_alert {
    cursor: pointer;
    font-weight: bold;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}
#close_alert:hover{
    background-color: rgb(240, 180, 180);
}

.alert {
    display: none;
    color: red;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name{
    background-color: transparent;
    height: 40px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    border: 2px solid rgba(28,38,51,255);
    border-radius: 15px;
    width: 49.5%;
    padding-left: 20px;
    margin: 10px 0px 15px 0px;
    box-sizing: border-box;
}
#birthdate{
    background-color: transparent;
    border: 2px solid rgba(28,38,51,255);
    border-radius: 15px;
    width: 95%;
    height: 35px;
    margin: 10px 0px 15px 0px;
    font-size: large;
    padding-left: 20px;
}

.sex{
    background-color: transparent;
    border: 2px solid rgba(28,38,51,255);
    border-radius: 15px;
    margin: 10px 0px 10px 10px;
    padding-left: 20px;
}
#email{
    background-color: transparent;
    height: 35px;
    border: 2px solid rgba(28,38,51,255);
    border-radius: 15px;  
    font-size: large;
    width: 95%;
    margin: 10px 0px 10px 0px;
    padding-left: 20px;
}
#phone{
    background-color: transparent;
    height: 35px;
    border: 2px solid rgba(28,38,51,255);
    border-radius: 15px;
    width: 95%;
    font-size: large;
    margin: 10px 0px 10px 0px;
    padding-left: 20px;
}
#password{
    background-color: transparent;
    height: 35px;
    border: 2px solid rgba(28,38,51,255);
    border-radius: 15px;
    width: 95%;
    font-size: large;
    margin: 10px 0px 10px 0px;
    padding-left: 20px;
}
#confirmPassword{
    background-color: transparent;
    height: 35px;
    border: 2px solid rgba(28,38,51,255);
    border-radius: 15px;
    width: 95%;
    font-size: large;
    margin: 10px 0px 10px 0px;
    padding-left: 20px;
}
#submit{
    background-color: #1C2633;
    color: white;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 40px;
    font-size: large;
    margin-top: 20px;
}
#submit:hover{
    background-color: rgb(81, 101, 126);
    cursor: pointer;
}

#submit:active{
    background-color:#1C2633 ;
    cursor: pointer;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}